{% extends "trailerapp/base.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="content-section">
        <h1>TrailerPress - alle Kinotrailer an einem Ort!</h1>
        <p>Bei TrailerPress handelt es sich um eine Plattform, auf der alle aktuellen deutschen Kinotrailer
            automatisiert allen Nutzern zugänglich gemacht werden. Die Nutzer können in einem Katalog von Trailern
            stöbern und sich ein Benutzerkonto anlegen, um Trailer zu bewerten. TrailerPress ist ein Demoprojekt und im
            Rahmen eines studentischen Semesterprojektes von Alexis Michaltsis an der Technischen Hochschule Brandenburg
            im WS 18/19, bei Herrn Prof. Dr. Thomas Preuss, entstanden.
        </p>
        <p>TrailerPress setzt auf dem Django-Webframework auf. Der <a href="https://github.com/4lm/trailerpress">Projektcode</a>
            ist auf GitHub frei verfügbar.
        </p>
        <p>
            <img src="https://www.themoviedb.org/assets/1/v4/logos/312x276-primary-green-74212f6247252a023be0f02a5a45794925c3689117da9d20ffe47742a665c518.png"
                 alt="Smiley face" height="48" width="48"></p>
        <p>Notice: "This product uses the TMDb API but is not endorsed or certified by TMDb."</p>
    </div>
{% endblock content %}
