{% extends "trailerapp/base.html" %}
{% block content %}
    <div class="content-section">
        <h2>TrailerPress - alle aktuellen Kinotrailer an einem Ort!</h2>
        <p>Bei TrailerPress handelt es sich um eine Plattform auf der alle aktuellen deutschen Kinotrailer automatisiert allen Nutzern zugänglich gemacht werden. TrailerPress ist ein Demoprojekt und im Rahmen eines studentischen Semesterprojektes von Alexis Michaltsis an der Technischen Hochschule Brandenburg im WS 18/19, bei Herrn Prof. Dr. Thomas Preuss, entstanden.</p>
    </div>
{% endblock content %}
