{% load ratings %}
{% for film in films %}
    <div id="tmdb-{{ film.tmdb_id }}" class="content-section">
        <h3>{{ film.title }}</h3>
        <p>Kinostart: {{ film.release_date.date }}
            {% if film.genre.all %}
                | Genre:
                {% for genre in film.genre.all %}
                    <a href="{% url 'trailerapp:genre-list' genre.tmdb_id %}">
                        {{ genre }}{% if not forloop.last %},{% endif %}</a>
                {% endfor %}
            {% endif %}
        </p>
        <video
                id="yt-{{ film.trailer_set.last.site_key }}"
                class="video-js vjs-default-skin vjs-big-play-centered"
                controls
                data-setup='{
                                "techOrder": ["youtube"],
                                "sources": [{
                                    "type": "video/youtube",
                                    "src": "https://www.youtube.com/embed/{{ film.trailer_set.last.site_key }}"
                                }],
                                "fluid": true
                            }'
                {% if film.backdrop_path %}
                poster="https://image.tmdb.org/t/p/w780/{{ film.backdrop_path }}"
                {% endif %}
        ></video>
        <div class="rating-and-synopsis-section">
            <span>{% ratings film %}</span>
            {% if film.overview %}
                <div class="text-right synopsis-btn">
                    <button class="btn btn-dark" type="button"
                            data-toggle="collapse"
                            data-target="#collapse-{{ film.tmdb_id }}"
                            aria-expanded="false"
                            aria-controls="collapse-{{ film.tmdb_id }}">
                        Synopsis
                    </button>
                </div>
            {% endif %}
        </div>
        {% if film.overview %}
            <div class="collapse" id="collapse-{{ film.tmdb_id }}">
                <div class="card card-body">
                    {{ film.overview }}
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}