{% extends 'trailerapp/base.html' %}
{% load icons %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <form method="get">
        <div class="content-section">
            <h4>Save now playing films to the database.</h4>
            <p>Checks can take a few minutes...</p>
            <button type="submit" value="click" name="playing">Check Playing & Save</button>
        </div>
    </form>
    <form method="get">
        <div class="content-section">
            <h4>Save upcoming films to the database.</h4>
            <p>Checks can take a few minutes...</p>
            <button type="submit" value="click" name="upcoming">Check Upcoming & Save</button>
        </div>
    </form>
    {% if films.results %}
        <h2>Following movies and trailers have been saved to the database.</h2>
        <table class="table table-striped table-bordered">
            {% for film in films.results %}
                {% if film.videos_results %}
                    <div class="content-section">
                        <h4>{{ film.title }}</h4>
                        <p>
                        <div>Id: {{ film.id }}</div>
                        <div>Original Title: {{ film.original_title }}</div>
                        <div>Release Date: {{ film.release_date }}</div>
                        </p>
                        <p>Synopsis: {{ film.overview }}</p>
                        <p>Videos: {{ film.videos_results }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}