{% extends 'trailerapp/base.html' %}
{% load icons %}
{% load ratings %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    {% if films %}
        {% for film in films %}
            <div id="tmdb-{{ film.tmdb_id }}" class="content-section">
                <h3>{{ film.title }}</h3>
                <p>
                    <small>{{ film.release_date }}</small>
                </p>
                <video
                        id="yt-{{ film.trailer_set.last.site_key }}"
                        class="video-js vjs-default-skin vjs-big-play-centered"
                        controls
                        data-setup='{
                                "techOrder": ["youtube"],
                                "sources": [{
                                    "type": "video/youtube",
                                    "src": "https://www.youtube.com/embed/{{ film.trailer_set.last.site_key }}"
                                }],
                                "fluid": true
                            }'
                ></video>
                <div>
                    <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                            data-target="#collapse-{{ film.tmdb_id }}"
                            aria-expanded="false" aria-controls="collapse-{{ film.tmdb_id }}">
                        Synopsis
                    </button>
                </div>

                <div class="collapse" id="collapse-{{ film.tmdb_id }}">
                    <div class="card card-body">
                        {{ film.overview }}
                    </div>
                </div>
                <div>{% ratings film %}</div>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-dark"
                   href="?page={{ page_obj.previous_page_number }}">{% icon 'step-backward' %}</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-dark"
                   href="?page={{ page_obj.next_page_number }}">{% icon 'step-forward' %}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <p>No films found.</p>
    {% endif %}
{% endblock %}