{% extends "trailerapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="profile-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profil</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Aktualisieren</button>
            </div>
        </form>
    </div>
    {% if ratings %}
        <div>
            <h3>Ihre Filmbewertungen</h3>
        </div>
        {% for rating in ratings %}
            <a href="{% url 'trailerapp:film-detail' rating.rating.object_id %}">
                <div class="content-section"><h4>{{ rating.rating }}</h4>Ihre Bewertung: {{ rating.score }}</div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock content %}
