body {
    background: #5c5c5c;
    color: #333333;
    margin-top: 6rem;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    background-color: #5c5c5c;
}

h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #2d2d2d;
}

.content-section {
    background: #f9ffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 0.8rem;
}

a.navbar-brand {
    color: #cbd5db;
    font-size: 2.5rem;
}


.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    font-size: 1.5rem;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.profile-img {
    height: 128px;
    width: 128px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.nav-profile-img {
    height: 48px;
    width: 48px;
}

.profile-heading {
    font-size: 2.5rem;
}